button {
  height: 50px;
  font-size: 16px;
  margin-right: 8px;
}

li {
  counter-increment: item;
  margin: 12px 0;
  padding: 34px;
  height: 20px;
  font-size: 21px;
  border: 1px solid #777;
  border-top: 0;
  border-left: 0;

  span {
    margin: 0 24px;
    padding: 10px;
    background-color: white;
  }
}
